.home {
  padding-top: 56px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.home a,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(73, 73, 252);
}

.information {
  background: rgb(255, 254, 251);
  line-height: 1.7em;
}

.aboutMe {
  border-bottom: 5px solid rgb(99, 134, 248);
  display: flex;
  justify-content: center;
}
.aboutMeImage {
  width: 300px;
  border-radius: 50%;
  margin: 2rem;
  border: 2px solid rgb(99, 134, 248);
}

.aboutMeInfo {
  margin: 0 5%;
  max-width: 400px;
}

.infoItem {
  border-bottom: 5px solid rgb(99, 134, 248);
}

h1 {
  text-align: center;
}

.infoItem > p {
  margin: 0 20% 10px 20%;
  font-size: 20px;
}

.infoItem li {
  list-style-type: none;
  margin: 20px 20% 10px 20%;
}

.skillTitle {
  margin: 0 0 0.5rem 0;
}

li p {
  margin: 0;
}

.text p {
  font-size: 1.2em;
}

@media (max-width: 599px) {
  .infoItem p {
    margin: 0 5% 10px 5%;
  }

  .infoItem li {
    margin: 20px 5% 20px 5%;
  }

  .infoItem ul {
    padding: 0;
  }

  .aboutMe {
    flex-direction: column;
  }
}
