.contact {
  padding: 56px 40px;
  background-color: rgb(255, 255, 255);
}

.info {
  line-height: 1em;
}

.hours {
  text-indent: 3.5em;
}

.contact p {
  margin-left: 4em;
  font-size: 1.3em;
}

@media (max-width: 599px) {
  .contact h2 {
    font-size: 1.3em;
  }

  .contact p {
    margin-left: 0;
    font-size: 0.8em;
  }
}
